.post-header {
  height: 30px;
}

.post-header img {
  height: 30px;
}

.post-body span {
  display: block;
  min-height: 10vh;
}


#image-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 45px 65px;

  div {
    display: grid;
    justify-items: center;
    align-items: center;
  }

}


.dropdown-post div {
  padding: 8px 5px;
  border: 2px solid white;
}

.col img {

}

.post-dropdown {
  z-index: 5;
}

.post-dropdown div {
  padding: 5px 12px;
  white-space: nowrap;

}


.dropdown button {
  background-color: transparent;
  border: none;
}


.dropdown-toggle:after {
  content: none
}
