<div class="container bg-light rounded">
    <div class="row justify-content-around ">
        <div class="col-sm-12 col-md-6 col-lg-5 col-xl-4 mt-3 rounded ">
            <div>
                <div class="d-flex justify-content-between ">
                    <span>Photos ({{this.numberOfPhoto}})</span>
                    <button class="btn btn-outline-primary  btn-sm" routerLink="../photo">See All</button>
<!--                    <span class="text-primary border border-primary px-1 rounded">See All</span>-->
                </div>

                <div class="row mt-2 justify-content-between">

                    <div class="col-xs-12 col-md-4 mt-2" *ngFor="let photo of photoCollection">
                        <div>
                            <ng-container *ngIf="this.photoCollection; else loadingPhoto">
                                <img src="/photo/getSelectedPhoto/5/{{photo.imgLink}}" alt="{{photo.id}}"
                                     class="img-fluid rounded">
                            </ng-container>
                        </div>
                        <hr>

                    </div>

                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-7 offset-xl-1 col-xl-6 mt-3  rounded ">
            <div class="col-12 bg-five py-2">
                <div class="form-group">
                    <label for="post">Create Post</label>
                    <textarea class="form-control" id="post"></textarea>
                </div>

                <button class="btn btn-primary" type="submit">Upload</button>
                <hr>
            </div>
        </div>

        <ng-template #loadingPhoto>
            <app-spinner></app-spinner>
        </ng-template>

    </div>
</div>
