<div class="row m-0" id="dashboard-main-content">
    <div class="col-xs-12 col-md-4 offset-lg-1 col-lg-2 position-sticky sticky-top">
        <div class="position-sticky sticky-top">
            <h5 class="py-2 text-center">Groups</h5>
            <app-groups-list></app-groups-list>
        </div>
    </div>

    <div class="col-xs-12 col-md-4 offset-lg-1 col-lg-4">
        <app-scroll-table style="overflow-y: scroll" [type]="'dashboard'"></app-scroll-table>
    </div>

    <div class="col-xs-12 col-md-4 offset-lg-1 col-lg-2 offset-lg-1 position-sticky sticky-top" style="height: 50%">
        <div class="position-sticky sticky-top" >
            <app-latest-info></app-latest-info>
            <app-small-calendar></app-small-calendar>
        </div>
    </div>

</div>

