<div id="calendar-wrapper">
    <div id="month-wrapper">
        <button (click)="detectChange(false)"><</button>
        <div class="text-center">
            <h5>{{months[month]}}</h5>
            <small class="">{{year}}</small>
        </div>
        <button (click)="detectChange(true)">></button>
    </div>

    <hr>

    <div id="days-wrapper">

        <div class="day-item bg-warning" *ngFor="let week of weekday">
            <small>{{week | uppercase}}</small>
        </div>


        <ng-container *ngFor="let day of daysArray">
                <div class="day-item" (click)="dateClick(day)" >
                    <small *ngIf="day > 0">{{day.getDate()}}</small>
                </div>

        </ng-container>


    </div>

    <div id="message-box" #divElement>
        test
    </div>

</div>
