#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -100vw;
  width: 100vw;

  color: white;
  font-weight: revert;
  background-color: #222;

  transition: margin .25s ease-out;
}

#sidebar-heading {

}

#sidebar-heading img {
  height: 10vh;
}

#items-wrapper {
  height: 100vh;
}

span {
  font-size: 1.5rem;
}

.sidebar-item {
  flex-basis: 50%;
}

.dots {
  width: 6px;
  height: 6px;
  display: none;
  background-color: #fff;

  border-radius: 50%;
}

.active-sidebar-item::before {
  display: block;
  position: relative;
  content: '';
  height: 6px;
  width: 6px;
  left: 6%;
  background-color: #17a2b8;

  border-radius: 50%;

}

i {
  margin-right: .25rem;
}

a {
  color: white;
}

.list-group-item {
  cursor: pointer;
}

.active {
  color: rosybrown;
  font-weight: bold;
}

#sidebar-wrapper.toggled {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
    width: 20vw;
  }
   #sidebar-wrapper.test .hideText {
    display: none !important;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }
  #sidebar-wrapper.toggled {
    margin-left: -15rem;
  }
}
