#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -100vw;
  width: 100vw;

  color: white;
  font-weight: revert;
  background-color: #222;

  transition: margin .25s ease-out;
}

#sidebar-heading {

}

#sidebar-heading img {
  height: 10vh;
}

#items-wrapper {
  height: 100vh;
}

span {
  font-size: .8rem;
}

.sidebar-item *{
  flex-basis: 50%;
  padding-top: .4rem;
  padding-bottom: .4rem;
}


.active-sidebar-item::before {
  display: block;
  position: relative;
  content: '';
  height: 6px;
  width: 6px;
  left: 6%;
  background-color: #17a2b8;

  border-radius: 50%;

}

.more-options{
  height: 0;

  overflow: hidden;
}

.list-group-item {
  cursor: pointer;
}

.active {
  color: rosybrown;
  font-weight: bold;
}

.link-disabled {
  pointer-events: none;
}

#sidebar-wrapper.toggle {
  margin-left: 0;
}

@media (min-width: 1024px) {
  #sidebar-wrapper {
    margin-left: 0;
    width: 6vw;
    transition: width .3s;
  }
   #sidebar-wrapper .hideText {
    display: none !important;
  }

  #sidebar-wrapper.toggle .hideText {
    display: block !important;
  }

  #sidebar-wrapper.toggle .active-sidebar-item::before {
    background-color: transparent;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }
  #sidebar-wrapper.toggle {
    width: 20vw;
  }
}
