#wrapper {
  max-height: 100vh;
}

body {

}

.sidebar-menu {
  height: 100%;
}


#page-content-wrapper {
  min-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;

}

#image-wrapper {
  background-color: #333;
  height: 100%;
  max-height: 100vh;
  width: 100%;
}

#image-wrapper img {
  max-height: 100vh;
}

#close {
  position: absolute;
  min-width: 2.5rem;
  min-height: 2.5rem;
  top: 2%;
  left: 5%;
}

#fullscreen-button {
  position: fixed;
  min-width: 2.5rem;
  min-height: 2.5rem;
  top: 2%;
  right: 5%;
}

#bottom-menu {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 2.6rem;
  line-height: 2.6rem;

  background-color: rgba(255, 255, 255, 0.4);
}

#page-content-wrapper.hide-main-content {
  margin-left: -100vw;
}

@media (min-width: 1280px) {
  #bottom-menu {
    display: none;
  }
  #fullscreen-button {
    position: absolute;
  }

}


@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }
  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }
  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
  #page-content-wrapper.hide-main-content {
    margin-left: 0;
  }

}
