<div class="d-flex" id="wrapper">
    <div id="page-content-wrapper" class="position-relative" [class.hide-main-content]="fullScreenEvent">
        <div style="transition: opacity .3s" [ngClass]="showButtons ? 'show-buttons' : 'hide-buttons'">
            <div id="close" class="bg-white rounded-circle d-flex align-items-center justify-content-center"
                 (click)="backToPreviousPage()">
                <i class="fa fa-2x" aria-hidden="true"
                   [ngClass]="navigationService.getPreviousUrl() === '/' ? 'fa-times' : 'fa-arrow-left'"></i>
            </div>

            <div id="fullscreen-button" class="bg-white rounded-circle d-flex align-items-center justify-content-center"
                 (click)="fullScreenEvent = !fullScreenEvent">
                <i class="fa fa-arrows-alt  fa-2x" aria-hidden="true"></i>
            </div>

            <div class="photo-collection bottom d-flex justify-content-center w-100 b">
                <ng-container *ngFor="let image of photoCollection; let i = index">
                    <img [src]="'/api/photo/getPhotoWithUser?id=' + image.imgLink " class="img-fluid"
                         [ngClass]="findPhotoInCollection() === i  ? 'border-danger' : 'border-0' "
                         (click)="imgLink = image.imgLink"/>
                </ng-container>
            </div>

            <ng-container *ngIf="photoCollection && photoCollection.length > 1">
                <span class="center rounded px-2 py-1">{{findPhotoInCollection() + 1}}
                    / {{photoCollection.length }}</span>
                <button class="btn rounded photo-nav left" (click)="previousPhotoInCollection()"
                        [disabled]="findPhotoInCollection() - 1 < 0"><i class="fa fa-caret-left"></i>
                </button>
                <button class="btn rounded photo-nav right" (click)="nextPhotoInCollection()"
                        [disabled]="findPhotoInCollection() + 1 >= photoCollection.length"><i
                        class="fa fa-caret-right"></i>
                </button>
            </ng-container>
        </div>
        <div id="image-wrapper" class="d-flex justify-content-center align-items-center">
            <img [src]="'/api/photo/getPhotoWithUser?id=' + imgLink " class="img-fluid"/>
        </div>


    </div>

    <app-image-comments [showComments]="fullScreenEvent"
                        (emitPhotoCollection)="handlePhotoCollection($event)"></app-image-comments>
</div>


