<div class="d-flex" id="wrapper">
    <div id="page-content-wrapper" class="position-relative" [class.hide-main-content]="fullScreenEvent">
        <div id="close" class="bg-white rounded-circle d-flex align-items-center justify-content-center" (click)="backToPreviousPage()" >
            <i class="fa fa-2x" aria-hidden="true" [ngClass]="navigationService.getPreviousUrl() === '/' ? 'fa-times' : 'fa-arrow-left'"></i>
        </div>

        <div id="fullscreen-button" class="bg-white rounded-circle d-flex align-items-center justify-content-center" (click)="fullScreenEvent = !fullScreenEvent">
            <i class="fa fa-arrows-alt  fa-2x" aria-hidden="true"></i>
        </div>

        <div id="bottom-menu">
            <div class="row mx-auto text-center">
                <div class="col">Likes</div>
                <div class="col">Comments</div>
            </div>
        </div>



        <div id="image-wrapper" class="d-flex justify-content-center align-items-center">
            <img [src]="'/api/photo/getPhotoWithUser?id=' + imgLink " class="img-fluid"/>
        </div>


    </div>

    <app-image-comments [showComments]="fullScreenEvent"></app-image-comments>
</div>
