body {
  overflow: hidden;
}

#wrapper {
  width: 100%;
}
.sidebar-menu{
  height: 100%;
}


#page-content-wrapper {
  width: 100%;
  min-height: 100vh;

}

#chat-wrapper {
  display: none;
}


.row {
  margin: 0;
}

app-sidemenu {
  z-index: 10001;
}


@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }
  #page-content-wrapper {
    min-width: 0;
    width: 82%;

  }

  #chat-wrapper {
    width: 12%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #222222;
    display: block;
    border-left: 3px solid salmon;

    max-height: 100vh;
    min-height: 100vh;
    //overflow-y: scroll;

  }


  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
    margin-right: -15rem;
  }
}

@media (min-width: 1024px) {
  #page-content-wrapper {
    margin-left: 6vw;
  }
}
