<div id="wrapper" class="" *ngIf="profileUser ">
    <div id="profile-images" class="position-relative bg-secondary">
        <div class="d-flex justify-content-center text-center">
            <img src="/photo/getUserProfile/Back/{{profileUser.id}}" class="img-fluid rounded shadow"/>
        </div>
        <img id="photo-front" src="/photo/getUserProfile/Front/{{profileUser.id}}" alt=""
             class="img-fluid rounded-circle">
    </div>
    <hr>

    <div class="text-center mt-3 ">
        <h3 class="font-weight-bold ">{{profileUser.first_name}} {{profileUser.last_name}}</h3>
        <h5 class="text-warning">({{profileUser.id}})  {{profileUser.group}}</h5>
    </div>

    <div class="container">
    <ul class="nav nav-tabs justify-content-center">
        <li class="nav-item">
            <a class="nav-link" routerLink="table" routerLinkActive="active">Table</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="photo" routerLinkActive="active">Image Gallery</a>
        </li>
    </ul>



    </div>
    <router-outlet (activate)="updateProfileViewImages()"></router-outlet>
</div>

<h3 class="text-center">{{error}}</h3>

