<div *ngIf="profileUser " class="" id="wrapper">
    <div class="position-relative" id="profile-images">
        <div class="d-flex justify-content-center text-center">
            <img class="img-fluid rounded shadow" src="/api/photo/getUserProfile/Back/{{profileUser.id}}"/>
        </div>
        <img alt="" class="img-fluid rounded-circle" id="photo-front"
             src="/api/photo/getUserProfile/Front/{{profileUser.id}}">
    </div>
    <hr>

    <div class="text-center mt-3 ">
        <h3 class="font-weight-bold ">{{profileUser.first_name}} {{profileUser.last_name}}</h3>
        <h5 class="text-warning">({{profileUser.id}})  {{profileUser.group}}</h5>
    </div>

    <div class="container d-flex justify-content-center align-items-center">
        <span class="menu-item" routerLink="table" routerLinkActive="span-active">
            <fa-icon [icon]="faReceipt"></fa-icon>
             <small class="menu-item-text">
                Table
                 </small>
            </span>
        <span class="spacer">|</span>
        <span class="menu-item" routerLink="photo" routerLinkActive="span-active">
              <fa-icon [icon]="faCameraRetro"></fa-icon>
             <small class="menu-item-text">
                Image Gallery
             </small>
            </span>
        <span class="spacer">|</span>
        <span class="menu-item" routerLink="options" routerLinkActive="span-active">
              <fa-icon [icon]="faCogs"></fa-icon>
                <small class="menu-item-text">
                    Your Account
                </small>
            </span>

    </div>
    <router-outlet (activate)="updateProfileViewImages()"></router-outlet>
</div>

<h3 class="text-center">{{error}}</h3>

