<div id="wrapper" class="text-third" *ngIf="(users.User| async )">
    <div id="profile-images" class="position-relative">
        <div class="d-flex justify-content-center text-center">
            <img src="../../../../assets/img/fa7ef7471d234161240d6f84069a9f57.jpg" class="img-fluid rounded shadow"/>
        </div>
        <img id="photo-front" src="/photo/getUserProfilePhoto/1/{{(users.User| async).id}}" alt=""
             class="img-fluid rounded-circle">
    </div>
    <hr>

    <div class="text-center mt-3">
        <h3 class="font-weight-bold text-fourth">{{(users.User | async)?.first_name }} {{(users.User | async)?.last_name }}</h3>
        <h5>({{(users.User |async)?.id }})  {{(users.User |async)?.group }}</h5>
    </div>

    <div class="container">
        <ul class="nav nav-tabs justify-content-center">
            <li class="nav-item">
                <a class="nav-link" routerLink="table" routerLinkActive="active">Table</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="photo" routerLinkActive="active">Photo</a>
            </li>
        </ul>
    </div>

    <router-outlet></router-outlet>


</div>

