#wrapper {
  width: 100vw;
  height: 100vh;
  max-height: 100vh;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  overflow: scroll;
  background-color: rgba(0,0,0, .4);
}

.empty-space{
  min-height: 25vh;
}

textarea {
  resize: none;
}


