<div id="wrapper" class="text-third" *ngIf="(users.User| async )">
    <div id="profile-images" class="position-relative">
        <div class="d-flex justify-content-center text-center">
            <img src="../../../assets/img/fa7ef7471d234161240d6f84069a9f57.jpg" class="img-fluid rounded shadow"/>
        </div>
        <img id="photo-front" src="/photo/getUserProfilePhoto/1/{{(users.User| async).id}}" alt="" class="img-fluid rounded-circle">
    </div>
    <hr>

    <div class="text-center mt-3">
        <h3 class="font-weight-bold text-fourth">{{(users.User | async)?.first_name }} {{(users.User | async)?.last_name }}</h3>
    </div>


    <div class="row justify-content-around text-white">
        <div class="col-sm-12 col-md-6 col-lg-5 col-xl-4 mt-3 rounded ">
            <div>
                <h3 class="border-t-five">Intro</h3>
                <h5>
                    <span>id: </span>
                    {{(users.User |async)?.id }}
                </h5>
                <h5>
                    <span>email: </span>
                    {{(users.User |async)?.email }}</h5>
                <h5>
                    <span>Account Type: </span>
                    {{(users.User |async)?.accountType }}</h5>
            </div>
            <div>
                <div class="d-flex justify-content-between border-t-five">
                    <span>Photos</span>
                    <span class="text-primary">See All</span>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-7 offset-xl-1 col-xl-6 mt-3  rounded ">
            <div>
                <h5 class="text-center text-uppercase border-t-five">Your Posts</h5>
            </div>
            <div>
                <form (ngSubmit)="uploadImage()" [formGroup]="imageForm">
                    <input type="file" id="file" multiple (change)="files($event.target.files)" formControlName="image">
                    <button type="submit">Upload</button>
                </form>
                <hr>
            </div>
        </div>


    </div>
</div>

