<div class="container bg-white py-5 rounded">
    <div class="col-12" *ngIf="isYourProfile">
        <button class="btn btn-primary w-100 mb-5" (click)="showPhotoBox()">Upload Photo</button>
    </div>
    <hr>
    <div class="text-center" *ngIf="photoCollection">
        <span *ngIf="photoCollection.length ===0">No photo has been added yet</span>
    </div>
    <div class="row collectionImg" *ngIf="this.photoCollection;else loadingPhoto">
        <div class="col-xs-12 col-md-5 col-xl-3 mt-3 border-bottom border-dark"
             *ngFor="let png of this.photoCollection; let i = index" appPhotoOption>
            <div class="d-flex justify-content-center align-items-center h-100">
                <img src="/api/photo/getSelectedPhoto/{{numberID}}/{{png.imgLink}}" [alt]="png.id"
                     class="img-fluid rounded " (click)="photos.navigateToImageInfo(png.imgLink)">
            </div>

            <div class="photoOptions" [hidden]="!canEditProfile">
                <button class="btn btn-info btn-sm dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" (click)="selectPhotoAsFront(png.id)" *ngIf="isYourProfile">Set as front
                        profile Photo</a>
                    <a class="dropdown-item" (click)="selectPhotoAsBack(png.id)" *ngIf="isYourProfile">Set as back
                        profile Photo</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-danger"
                       (click)="handleEmitConfirmBox('deletePhoto', png, i)" *ngIf="canEditProfile">Delete</a>
                </div>

            </div>
        </div>


    </div>
    <ng-template #loadingPhoto>
        <app-spinner></app-spinner>
    </ng-template>

    <app-confirm-action *ngIf="confirmBoxText" (closeModalEmitter)="closeConfirmBox()"
                        >
        <span>The image will be permanently deleted</span>
    </app-confirm-action>
    <app-upload-photo *ngIf="photoBox" (closeModalEmitter)="closePhotoBox()"></app-upload-photo>
</div>

