<div id="wrapper" class="d-flex">
  <div class="col-xs-12 col-md-12 col-lg-8 d-flex flex-column justify-content-between align-items-center">
    <div class="d-flex ">
      <button>X</button>
      <div class="flex-fill"></div>
      <span>test</span>
      <span>test2</span>
    </div>
    <div class="flex-fill d-flex justify-content-center align-items-center">
      <img src="/photo/getPhoto/2/310061fed71b5d7ca1fa894ab77419e5.jpg" class="img-fluid"/>
    </div>

    <div class="text-white">like</div>

  </div>

  <div class="col-xs-12 col-md-12 col-lg-4 h-100 bg-white">
    <button (click)="activeRoute()"></button>
  </div>


</div>
