#main-title-wrapper {
  position: relative;
}

#main-title-wrapper::before {
  content: "";
  height: 1px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 15%;
  right: 15%;
  background-color: #007bff;
  transition: .3s;
}

#wrapper:hover #main-title-wrapper::before {
  left: 0;
  right: 0;
}

.more-options {
  height: 0;
  overflow: hidden;
  transition: .3s linear;
}
