<div id="wrapper">
    <div id=main-title-wrapper>
        <h5 class="text-muted d-inline-block">
            <b class="text-primary">Incoming</b> Events</h5>
        <small class="float-right">
            >
        </small>
    </div>
    <!--    TODO Implement-->

    <div appShowMoreOptions class="rounded">
        <div>
            <div class="d-flex justify-content-between align-items-center py-2 border-success border-bottom">
                <span style="flex-basis: 60%">
                    title
                </span>

                <i class="fa fa-caret-down"></i>
            </div>
        </div>

        <div class="more-options hideText" (click)="$event.stopPropagation()">
            <p style="font-size: .8rem">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias aliquam
                culpa, dolores eaque enim est facere, magnam magni maxime nulla officiis quibusdam quisquam quo
                recusandae sapiente totam ut. Quasi?
                <br>
                <br>
                <small class="text-primary" style="text-decoration: underline">GO TO</small>
                <small class="float-right">3 days left</small>
            </p>
        </div>
    </div>    <div appShowMoreOptions class="rounded">
        <div>
            <div class="d-flex justify-content-between align-items-center py-2 border-success border-bottom">
                <span style="flex-basis: 60%">
                    title
                </span>

                <i class="fa fa-caret-down"></i>
            </div>
        </div>

        <div class="more-options hideText" (click)="$event.stopPropagation()">
            <p style="font-size: .8rem">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias aliquam
                culpa, dolores eaque enim est facere, magnam magni maxime nulla officiis quibusdam quisquam quo
                recusandae sapiente totam ut. Quasi?</p>
        </div>
    </div>


</div>
