<div id="wrapper" class="d-flex justify-content-center">
    <div id="info-box" class="col-xs-12 col-md-9 col-lg-8 rounded ">

        <div class="drop-field col-12 rounded text-center " appDragAndUpload (emitPhoto)="files($event)">
            <input class="btn btn-group btn-danger" type="file" id="file" multiple
                   (change)="files($event.target.files)" *ngIf="!sendingImage; else loading">
            <br>
            <i class="mt-3 fa fa-2x fa-upload"></i>
            <br>
            <label for="file" class="mt-3">Browse</label>

        </div>
<!--        <button class="btn btn-primary w-100" *ngIf="filesToUpload" (click)="uploadImage()">Upload image{{filesToUpload.length > 1 ? 's' : ''}}</button>-->
        <div *ngIf="filesToUpload">
            <h5 *ngFor="let info of filesToUpload; let i = index">({{i + 1}}). {{info.name}}</h5>
        </div>
    </div>

    <ng-template #loading>
    <app-spinner></app-spinner>
    </ng-template>
</div>

