#wrapper {


  z-index: 10000;
  border: 2px solid skyblue;
  background-color: palevioletred;
}


.drop-field {
  position: relative;
}

.drop-field input {
  opacity: 0;
  position: absolute;
  z-index: 1000001;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.drop-field label {
  color: white;
  width: auto;
  height: auto;
  padding: 20px 35px;
  background-color: #fff;
  color: black;
  border-radius: 21.5px;
}

