<div id="wrapper" class="d-flex justify-content-center align-items-center" (click)="hideModal()">
    <div class="h-auto bg-light w-75 rounded" (click)="$event.stopPropagation()">
        <div class="col-xs-12">
            <h3 class="text-center mt-3">Create Post</h3>
            <hr>
            <div class="col-12 h-75">
                <label for="desc">Post Description</label>
                <textarea id="desc" cols="300" rows="5" class="w-100 h-100 form-control" #textAreaElement></textarea>
            </div>

            <h5 class="text-center">Upload Images</h5>

            <div>
                <app-upload-photo (emitPhotos)="filesToUpload = $event"></app-upload-photo>
            </div>
            <div class="row justify-content-around mb-3">
                <button class="btn btn-primary w-25" (click)="createPost()">Create</button>
                <button class="btn btn-danger w-25" (click)="hideModal()">Cancel</button>
            </div>
        </div>
    </div>


</div>
