
.active-user-list {
  cursor: pointer;
}

.profile-image {
  position: relative;
}

#chats-container {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: red;
  width: 100vw;
  height: 30vh;
  z-index: 1000000;
}
.chat-message-options {
  opacity: 0;
  transition: opacity .2s;
}

.chat-element {
  transition: background-color .2s;
}

.chat-element:hover {
  background-color: #444;
}

.chat-element:hover .chat-message-options{
  opacity: 1;
}

.profile-image::after {
  position: absolute;
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: limegreen;
  border: 1px solid black;
  bottom: -5%;
  right: -10%;
}

.row {
  margin: 0;
}
