
.active-user-list {
  cursor: pointer;
}

.profile-image {
  position: relative;
}

.profile-image::after {
  position: absolute;
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: limegreen;
  border: 1px solid black;
  bottom: -5%;
  right: -10%;
}

.row {
  margin: 0;
}
