<div id="wrapper">
    <div class="col-xs-12">
        <!--Photo basic Info        -->
        <div class="row mx-auto">
            <img src="/api/photo/getUserProfile/Front/5" alt="profile"
                 class="rounded-circle" width="30"
                 height="30"
                 style="border: 1px solid #224abe"
            />
            <div>
                <span>Name Surname</span>
                <br>
                <small>Date</small>
            </div>
        </div>

        <!--  Comments      -->
        <ng-container *ngFor="let comment of postComments">
            <div class="w-100 px-5 pb-2 bg-light rounded mb-1">
                <div>
                    <img src="/api/photo/getUserProfile/Front/5" alt="id" class="rounded"
                         width="15"
                         height="15">
                    <small class="text-info">First Name and Second Name</small>
                </div>
                <div>
                    <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi asperiores aspernatur atque distinctio, dolor eveniet facere, fuga impedit magni maiores nobis nostrum omnis optio, quia quis reiciendis sed sequi unde!</small>
                </div>

            </div>
        </ng-container>


    </div>
</div>

