<div class="bg-second " id="comments-wrapper" [class.hide-comments]="showComments">
    <div id="items-wrapper" class="d-flex flex-column">
        <div id="comments-heading" class="d-flex border-bottom border-white" >
            <img src="../../../assets/img/profile_placeholder.png" class="img-fluid"/>
            <div class="d-flex flex-column ml-2">
                <div>
                    <span>Name Surname</span>
                </div>
                <div>
                    <small class="text-muted">Date</small>
                </div>
            </div>
        </div>

        <div id="photo-description" class="p-2" >
            <div class="photo-description-text" [ngClass]="showMore ? 'h-auto': ''">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias aliquid architecto
                    consectetur, cupiditate debitis distinctio eum harum, iure maiores molestias mollitia odio provident
                    quas recusandae reiciendis rerum vitae voluptates?</p>
            </div>

            <div class="text-center" (click)="showMore = !showMore">
                <i class="fa fa-caret-down"></i>
            </div>
        </div>

        <div id="photo-comments" class="mx-2 mt-3">
            <ng-container *ngFor="let comment of postComments">
                <div class="w-100 mb-1 bg-dark">
                    <div>
                        <img src="/api/photo/getUserProfile/Front/{{5}}" alt="id" class="rounded"
                             width="15"
                             height="15">
                        <small class="text-info">Name Surname</small>
                    </div>
                    <div>
                        <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci assumenda minima obcaecati perspiciatis, recusandae sint sunt velit? Assumenda, beatae consequuntur cupiditate ipsum maiores molestias nihil nostrum soluta suscipit, tempore ullam.</small>
                    </div>

                </div>
            </ng-container>
        </div>

    </div>

</div>
