<div class="bg-second " id="comments-wrapper" [class.hide-comments]="showComments">
    <div id="items-wrapper" class="d-flex flex-column" *ngIf="postData">
        <div id="comments-heading" class="d-flex border-bottom border-white">
            <img src="../../../assets/img/profile_placeholder.png" class="img-fluid"/>
            <div class="d-flex flex-column ml-2">
                <div>
                    <span>{{postData.user.first_name}} {{postData.user.last_name}}</span>
                </div>
                <div>
                    <small class="text-muted">{{photoDate}}</small>
                </div>
            </div>
        </div>

        <div id="photo-description" class="p-2">
            <div class="photo-description-text" [ngClass]="showMore ? 'h-auto': ''">
                <p>{{postData.text}}</p>
            </div>

            <div class="text-center" (click)="showMore = !showMore">
                <i class="fa fa-caret-down"></i>
            </div>
        </div>

        <div id="photo-comments" class="mx-2 mt-3">
            <div class="d-flex ">
                <button class="btn-outline-primary btn flex-fill">
                    <i class="fa fa-thumbs-up"></i>
                </button>
                <button class="btn-outline-success btn flex-fill" (click)="isCreatingComment = true">
                    Add a Comment
                </button>
            </div>
            <div>
                <hr>
            </div>
            <ng-container *ngFor="let comment of postComments">
                <div class="w-100 mb-1 bg-dark">
                    <div class="d-flex justify-content-between">
                        <img src="/api/photo/getUserProfile/Front/{{comment.ownerID}}" alt="id"
                             class="rounded img-fluid"
                             width="30"
                             height="30">
                        <small class="text-info">{{comment.user.first_name}} {{comment.user.last_name}}</small>

                        <small class="text-secondary">{{getPostDate(comment.created)}} ago</small>
                    </div>
                    <div>
                        <small>{{comment.text}}</small>
                    </div>

                </div>
            </ng-container>
        </div>

    </div>

</div>

<app-create-comment [postID]="this.postID" *ngIf="isCreatingComment" (emitCloseModal)="isCreatingComment = false" (wroteComment)="addWroteComment($event)"></app-create-comment>
