.dropdown button {
  background-color:transparent;
  border: none;
}

.dropdown-toggle:after { content: none }

.row{
  margin: 0;
}

hr {
  background-color: #DEDEDE;
}

.add-post {
  background-color: #224abe;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card {
  animation: .4s ease-out 0s 1 slideInFromRight;
  background-color: #DEDEDE;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.post-button-container {
  background-color: #DEDEDE;
  padding: 10px 25px;
  border-radius: 8px;
}

.comment-field {
  margin: 0 3% 2% 3%;

  input {
    flex-basis: 80%;
    border-radius: 20px;
    padding-left: 10px;
    border: 1px solid dodgerblue;
  }


  button {
    border: 1px solid dodgerblue;
    width: 3vh;
    height: 3vh;
    border-radius: 50%;
    color: dodgerblue;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}



