<div class="d-flex">
    <button class="w-100 btn btn-primary" (click)="modalOpen = true">Create post</button>
    <div class="d-flex justify-content-center align-items-center" style="flex-basis: 5%"> | </div>
    <!--    todo add logic to search post-->
    <button class="btn btn-outline-primary">
        <fa-icon [icon]="faSearch"></fa-icon>
    </button>

</div>
<hr>
<div class="search-results"
     data-infinite-scroll
     debounce
     [infiniteScrollDistance]="scrollDistance"
     [infiniteScrollUpDistance]="scrollUpDistance"
     [infiniteScrollThrottle]="throttle"
     (scrolled)="onScrollDown()"
>
    <div class="card mt-2" *ngFor="let post of postArray; let i = index">
        <div>
            <div class="col-12 pl-0 pr-0">
                <div class="row mx-auto">
                    <div class="col px-0">
                        <img src="/api/photo/getUserProfile/Front/{{post.ownerID}}" alt="id"
                             class="rounded img-thumbnail" width="60" height="40">
                    </div>
                    <div class="col-8">
                        <span class="post-author text-warning">{{post.user.first_name}} {{post.user.last_name}}</span>
                        <br>
                        <small class="text-secondary">{{getPostDate(post.created)}} ago</small>
                    </div>


                    <div class="col dropdown d-flex justify-content-end" >
                        <button class="dropdown-toggle" type="button"
                                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                            <fa-icon [icon]="faEllipsisH"></fa-icon>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item">Edit</a>
                            <a class="dropdown-item">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger"
                               (click)="deletePost(post.postID)">Delete</a>
                        </div>
                    </div>

                </div>


            </div>
            <div class="post-body">
                            <span class="px-2 bg-light w-100 d-block" *ngIf="post.text">
                            {{post.text}}
                            </span>

            </div>
            <hr>
            <!-- <div class="px-5 text-right">
                 <i class="fa fa-thumbs-up rounded-circle p-1 text-primary" aria-hidden="true"></i>
                 <small>3</small>
             </div>-->
            <div class="btn-group btn-group-sm w-100 px-5 pb-2" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-outline-primary w-100">
                    <fa-icon [icon]="faThumbsUp"></fa-icon>
                    Like
                </button>
                <button type="button" class="btn btn-outline-success w-100">
                    <fa-icon [icon]="faComments"></fa-icon>
                    Add a comment
                </button>
                <button type="button" class="btn btn-outline-info w-100">
                    <fa-icon [icon]="faShareSquare"></fa-icon>
                    Share
                </button>
            </div>
            <div id="wrapper">
                <div class="text-right">
                    <small class="text-primary" (click)="getPostComment(post.postID, 0)">Show
                        comments</small>
                </div>


                <ng-container *ngFor="let comment of postComments">
                    <div class="w-100 px-5 pb-2 bg-light rounded mb-1"
                         *ngIf="comment.postID === post.postID">

                        <div>
                            <img src="/api/photo/getUserProfile/Front/{{id}}" alt="id" class="rounded"
                                 width="15"
                                 height="15">
                            <small class="text-info">{{comment.user.first_name}} {{comment.user.last_name}}</small>
                        </div>
                        <div>
                            <small>{{comment.text}}</small>
                        </div>

                    </div>
                </ng-container>

                <div class="text-center">
                    <small class="text-primary"
                           (click)="getPostComment(post.postID, countSelectedPostComments(post.postID))"
                    >Show more</small>
                </div>

            </div>

            <div class="row text-center m-auto border-top">
                <div class="col-6 border-right btn-outline-primary">
                    <small> <fa-icon [icon]="faThumbsUp"></fa-icon>
                        Likes (4)</small>
                </div>
                <div class="col-6 btn-outline-success">
                    <small *ngIf="postArray">
                        <fa-icon [icon]="faComments"></fa-icon>
                        Comments ({{post.comments}})
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>

<app-upload-post *ngIf="modalOpen" (hideModel)="modalOpen = false" (addedPost)="addPost($event)"></app-upload-post>
<app-spinner *ngIf="postNumber != postArray.length && postNumber > 0"></app-spinner>
<app-write-text *ngIf="false"></app-write-text>
