<div class="d-flex post-button-container">
    <button class="w-100 btn add-post"  (click)="modalOpen = true">Create post</button>
    <div class="d-flex justify-content-center align-items-center" style="flex-basis: 5%"> |</div>
    <!--    todo add logic to search post-->
    <button class="btn btn-outline-primary shadow" (click)="searchBox = true">
        <fa-icon [icon]="faSearch"></fa-icon>
    </button>

</div>

<hr>
<div class="search-results overflow-hidden"
     data-infinite-scroll
     debounce
     [infiniteScrollDistance]="scrollDistance"
     [infiniteScrollUpDistance]="scrollUpDistance"
     [infiniteScrollThrottle]="throttle"
     (scrolled)="onScrollDown()"
>
    <div class="card mt-2" *ngFor="let post of post.postArray; let i = index">
        <app-post-component [post]="post"></app-post-component>

    </div>
</div>

<app-upload-post *ngIf="modalOpen" (hideModel)="modalOpen = false" (addedPost)="addPost($event)"></app-upload-post>
<app-spinner *ngIf="postNumber != post.postArray.length && postNumber > 0"></app-spinner>
<app-write-text *ngIf="false"></app-write-text>
<app-write-text (emitText)="searchPost($event)" (emitCloseModal)="searchBox = false" *ngIf="searchBox"></app-write-text>
