.dropdown button {
  background-color:transparent;
  border: none;
}

.dropdown-toggle:after { content: none }

.row{
  margin: 0;
}

.card {
  background-color: #eee;
  -webkit-box-shadow: 17px 16px 15px -13px rgba(0, 0, 0, 0.7);
  box-shadow: 17px 16px 15px -13px rgba(0, 0, 0, 0.7);
}
.comment-field {
  margin: 0 3% 2% 3%;

  input {
    flex-basis: 80%;
    border-radius: 20px;
    padding-left: 10px;
    border: 1px solid dodgerblue;
  }
  

  button {
    border: 1px solid dodgerblue;
    width: 3vh;
    height: 3vh;
    border-radius: 50%;
    color: dodgerblue;
  }
}



