// Bootstrap and its default variables

@import "./_variables.scss";


.fileover {
  animation: shake 1s infinite;
}

.container-fluid {
  padding: 0;
}

@keyframes shake {
  0% {
    transform: rotate(1deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-1deg);
  }


}


