$fa-font-path: "@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/brands"; // OPTIONAL. Remove if you are not using this
// Bootstrap and its default variables

@import "./_variables.scss";

body{


}

.bg-main {
  background-color: $main;
}

.bg-second {
  background-color: $secondary;
}

.bg-third {
  background-color: $darker;
}

.bg-fourth {
  background-color: $outside;
}

.bg-five{
  background-color: $grayer;
}

.btn-primary {
  background-color: $main;
}

.text-first{
  color: $main;
}

.text-second {
  color: $secondary;
}

.text-third {
  color: $darker;
}

.text-fourth {
  color: $outside;
}

.text-five{
  color: $grayer;
}

.bg-gray {
  background-color: dimgray;
}

.border-b-five {
  border-bottom: 1px solid $grayer;
}

.border-t-five {
  border-top: 1px solid $grayer;
}


.btn-primary {
  background-color: $main;
}

.border-main {
  border: 1px solid $main;
}
