.dropdown button {
  background-color: transparent;
  border: none;
}

.dropdown-toggle:after {
  content: none
}

.row {
  margin: 0;
}

#imageSlider:hover .carousel-control-prev,
{
  opacity: .4;

}

#imageSlider:hover .carousel-control-next,
{
  opacity: .4;
}

.carousel-cell {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-control-next,
.carousel-control-prev {
  //display: none;
  opacity: .1;
  width: 5%;
  background-color: black;
}

.basic-info:hover .user-card {
  display: block;
}

//carousel {
//  height: auto !important;
//  max-width: 100%;
//  z-index: 0;
//
//}

.user-card {
  position: absolute;
  width: 80%;
  height: 10vh;
  display: none;
  top: -10vh;
  background-color: white;
  border: 1px solid black;
  border-radius: 15px;

}

.comment-field {
  margin: 0 3% 2% 3%;

  input {
    flex-basis: 80%;
    border-radius: 20px;
    padding-left: 10px;
    border: 1px solid dodgerblue;
  }

  button {
    border: 1px solid dodgerblue;
    width: 3vh;
    height: 3vh;
    border-radius: 50%;
    color: dodgerblue;
  }
}



