<div>
    <div class="col-12 pl-0 pr-0">
        <div class="row mx-auto">
            <div class="col px-0">
                <img src="/api/photo/getUserProfile/Front/{{post.ownerID}}" alt="id"
                     class="rounded img-thumbnail" width="60" height="40">
            </div>


            <div class="basic-info col-8 position-relative">
                <span class="post-author text-warning">{{post.user.first_name}} {{post.user.last_name}}</span>
                <br>
                <small class="text-secondary">{{getPostDate(post.created)}} ago</small>
            </div>


            <div class="col dropdown d-flex justify-content-end">
                <button class="dropdown-toggle" type="button"
                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                    <fa-icon [icon]="faEllipsisH"></fa-icon>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item">Edit</a>
                    <a class="dropdown-item">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-danger">Delete</a>
                </div>
            </div>

        </div>


    </div>
    <hr>

    <div class="post-body" *ngIf="post">
                            <span class="px-2 bg-light w-100 d-block" *ngIf="post.text">
                            {{post.text}}
                            </span>
        <div *ngIf="post.photos.length === 1">
            <img src="/api/photo/getSelectedPhoto/{{post.ownerID}}/{{post.photos[0].imgLink}}" alt="{{post.text}}"
                 class="img-fluid img-thumbnail" (click)="photos.navigateToImageInfo(post.photos[0].imgLink)">
        </div>


        <carousel *ngIf="post.photos.length > 1" [cellWidth]="'100%'" [dots]="true">
            <div class="carousel-cell" *ngFor="let image of post.photos">
                <img class="d-block" style="height: auto"
                     src="/api/photo/getSelectedPhoto/{{post.ownerID}}/{{image.imgLink}}" alt="{{post.text}}"
                     (click)="photos.navigateToImageInfo(image.imgLink)">
            </div>
        </carousel>
    </div>
    <hr>

    <div id="wrapper">
        <div class="text-center" *ngIf="post.comments">
            <small class="text-primary" (click)="getPostComment(post.postID)" *ngIf="!post.PostComment">Show
                comments</small>
        </div>
        <div class="text-center" *ngIf="post.PostComment">
            <small class="text-primary"
                   (click)="getPostComment(post.postID)" *ngIf="post.PostComment.length < post.comments"
            >Show more</small>
        </div>

        <ng-container *ngFor="let comment of post.PostComment | slice:startComments:endComments; let i = index">
            <div class="d-flex "
                 [ngClass]="userID !== comment.ownerID ? 'justify-content-start' : 'justify-content-end'">
                <div class="col-lg-10 col-md-11 col-xs-12 mb-1 border-info border bg-light" style="border-radius: 15px"
                     *ngIf="comment.postID === post.postID">
                    <div class="d-flex ">
                        <div class="flex-fill text-left pl-3 ">
                            <img src="/api/photo/getUserProfile/Front/{{comment.ownerID}}" alt="id"
                                 class="rounded-circle"
                                 width="20"
                                 height="20">
                            <small class="text-info ml-1">{{comment.user.first_name}} {{comment.user.last_name}}</small>
                        </div>
                        <small class="mr-3">{{getPostDate(comment.created)}} ago</small>
                        <span class="badge badge-info d-flex align-items-center mr-3"
                              *ngIf="comment.ownerID === post.ownerID">
                                <span>OP</span>
                            </span>
                        <div class="dropdown d-flex justify-content-end">
                            <button class="dropdown-toggle" type="button"
                                    id="commentOptions" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                <fa-icon [icon]="faEllipsisH"></fa-icon>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item">Edit</a>
                                <a class="dropdown-item">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-danger">Delete</a>
                            </div>
                        </div>

                    </div>
                    <div class="border-top border-info">
                        <small>{{comment.text}}</small>
                    </div>
                </div>
            </div>
        </ng-container>

        <div class="text-center" *ngIf="post.PostComment">
            <small class="text-primary" *ngIf="post.PostComment.length > 10"
                   (click)="commentNextHandler()"
            >Show more</small>
        </div>

        <div>
            <hr *ngIf="post.comments">
            <div class="d-flex justify-content-around align-items-center comment-field">
                    <img src="/api/photo/getUserProfile/Front/{{users.userID}}" alt="profile"
                         class="rounded-circle" width="30"
                         height="30"
                         style="border: 1px solid #224abe"
                    />


                <input placeholder="Write comment" [(ngModel)]="commentText">
                <div *ngIf="showUserList" class="bg-success">
                    lista
                </div>

                <button class="send-comment-button" (click)="createComment(post.postID)">
                    <fa-icon [icon]="faCaretRight"></fa-icon>
                </button>
            </div>

        </div>


    </div>

    <div class="row text-center m-auto border-top">
        <div class="col-6 border-right" [ngClass]="post.isInYourLikes ? 'btn-primary' : 'btn-outline-primary'"
             (click)="handleLikeClick(post.postID)">
            <small>
                <fa-icon [icon]="faThumbsUp"></fa-icon>
                ({{post.likes}})</small>
        </div>
        <div class="col-6 btn-outline-success">

            <fa-icon [icon]="faComments"></fa-icon>
            <small>
            ({{post.comments}})
            </small>
        </div>
    </div>
</div>
